<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="format-detection" content="telephone=no">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<meta name="author" content="Double, lishuangzhuang@gmail.com">
	<title>单词对战</title>
	<link rel="stylesheet" type="text/css" href="lsz/competition.css">
	<link rel="stylesheet" type="text/css" href="lsz/bootstrap.css">
	<style type="text/css">
		
	</style>
</head>
<body>
	<article class="content col-xs-12 col-md-4 col-md-offset-4">
		<header class="header">
<!-- 			 头像、时间 
			<div class="top">
				<img class="left" src="lsz/1.png">
				<span>VS</span>
				<img class="right" src="lsz/2.png">
			</div>
			<div>
				<input id="startTime" type="button" value="开始计时！" > 
				<input id="stopTime" type="button" value="停止计时！" > 
			</div>
			<div class="timer">
				<span id="vmtime">
					{{time}}
				</span>
				<span id="time">00:00:000</span></h2>
			</div> -->
			<span id="nextButton"></span>
			<!-- <a id="next" href="javascript:;" class="next">下一题</a> -->
		</header>
		<section class="main">
			<!-- 输入框 提示 -->
			
			<div id="input-area">
				<!-- <template v-for="item in inputs">
					{{{item.input}}}
				</template> -->
			</div>
			<div id="tip-area">
				 <!-- <template v-for="item in tips">
				 					{{{item.tip}}}
				 </template> -->
			</div>
		</section>
		<footer class="footer">
			<!-- 上下题切换 FOOTER
			<a href="javascript:;" class="next">上一题</a>-->
			

		</footer>
	</article>
	<script type="text/javascript" src="lsz/words.js"></script>
	<script type="text/javascript" src="lsz/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="lsz/competition.js"></script>
	<script>
	
	</script>
</body>
</html>